* { margin: 0px;
padding: 0px;}
body{
    font-family: poppins fallback, sans-serif;
}
header{
    position: sticky;
    top: 0px;
}
.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.ol {
    display: flex;
    padding: 16px;
    gap: 3rem;
    list-style: none;
    top: 0;
    font-size: large;
    
}
.logo{
    width: 80px;
    height: 90px;
    object-fit: contain;
}
.in {
    background-color: #E11D48E6;
    color: white;
    height: 30px;
    width: 50px;
    border-radius: 6px;
    border: none;
}
.main{
    
    display: flex;
    padding: 2rem;
}
.left{
    
    width: 50%;
}
.right{
    
    width: 40%;
}
.cimg {
    width: 36rem;
    border-radius: 10px;
    
}
p {
    font-size: large;
    padding: 0.6rem;
}
h1{margin-bottom: 2rem;
color: rgb(187, 121, 121);}
h2{
    text-align: center;
    font-size: larger;
}
